@model List<AllStudents>
@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    @if (Model != null)
    {
        AllStudents details = Model[0];
        <title>Edit - @details.Lastname @details.Firstname</title>
    }
    <script src="./assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <link href="./assets/css/dashboard.css" rel="stylesheet" />
    <script src="./assets/js/dashboard.js"></script>
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/charts-c3/plugin.js"></script>
    <link href="./assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/maps-google/plugin.js"></script>
    <script src="./assets/plugins/input-mask/plugin.js"></script>
    <link rel="icon" href="./assets/images/browsers/philsca.svg">
</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="./index.html">
                            <img src="./assets/images/browsers/philsca.svg" class="header-brand-img"> Philippine State College of Aeronautics
                        </a>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    @if (Model != null)
                    {
                        AllStudents details = Model[0];
                        <div class="card">
                            <div class="card-header">
                                <h4 class="page-title"><i class="fe fe-edit"></i>Edit Grades</h4>
                            </div>
                            <div class="card-body">
                                <div class="row my-8">
                                    <div class="col-6">
                                        <p class="h3">@details.Lastname @details.Firstname @details.Midname</p>
                                        <address>
                                            @details.StudentId<br>
                                            @details.StudentAddress<br>
                                        </address>
                                    </div>
                                    <div class="col-6 text-right">
                                        <p class="h3">@details.CourseName</p>
                                        <address>
                                            @details.CourseId<br>
                                            @details.SchoolYear<br>
                                        </address>
                                    </div>
                                </div>
                                <div class="table-responsive push">
                                    <table class="table card-table table-vcenter text-nowrap">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="w-1">Subject ID.</th>
                                                <th>Subject</th>
                                                <th>Prelim</th>
                                                <th>Midterm</th>
                                                <th>Semi Final</th>
                                                <th>Finals</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var studentGrade in Model)
                                            {
                                                <form asp-controller="Home" asp-action="StudentUpdate">
                                                <tr>
                                                    <td>
                                                        @*<form asp-controller="Home" asp-action="DeleteSubject">*@
                                                            <button asp-controller="Home" asp-action="DeleteSubject" type="submit" value="@studentGrade.SubjectId" name="SubjectId" class="btn btn-icon btn-primary btn-danger">
                                                                <i class="fe fe-trash"></i>
                                                                <input type="hidden" value="@details.StudentId" name="StudentId"></input>
                                                            </button>
                                                        @*</form>*@

                                                    </td>
                                                    <td>
                                                        <input type="hidden" value="@details.StudentId" name="StudentId">
                                                        <span>@studentGrade.SubjectId</span>
                                                    </td>
                                                    <td>
                                                            @studentGrade.Description
                                                    </td>
                                                    <td>
                                                        <input value="@string.Format("{0:0.#}", studentGrade.Prelim)" type="number" name="Prelim" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input value="@string.Format("{0:0.#}", studentGrade.Midterm)" type="number" name="Midterm" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input value="@string.Format("{0:0.#}", studentGrade.Semi)" type="number" name="Semi" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input value="@string.Format("{0:0.#}", studentGrade.Final)" type="number" name="Final" class="form-control">
                                                    </td>
                                                    <td>
                                                        <button type="submit" value="@studentGrade.SubjectId" name="SubjectId" class="btn btn-icon btn-primary"><i class="fe fe-edit-3"></i></button>
                                                    </td>
                                                </tr>
                                                </form>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="https://www.philsca.edu.ph/">philsca.edu.ph</a></li>
                                    <li><a href="https://data.gov.ph/">data.gov.ph</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-3">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="https://www.facebook.com/PhilscaOfficial/">Facebook</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Philippine_State_College_of_Aeronautics">Wikipedia</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-3">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="https://www.linkedin.com/school/philscaofficial/">LinkedIn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        An Act Converting the Basa Air Base Community College into Philippine Air Force College of Aeronautics (PAFCA) signed 26 January 1977.
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2022 <a href="."> Philippine State College of Aeronautics</a>.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>